---
import type { Content } from "../i18n";

interface Props {
  content: Content;
}

const { content } = Astro.props;
const f = content.footer;
const n = content.nav;
---

<footer class="ft">
  <div class="ft-top">
    <div>
      <div class="brand"><span class="mark">ORLEN</span><span>Energy Trading</span></div>
      <p>{f.tagline}</p>
    </div>
    <div>
      <h4>{f.company}</h4>
      <ul>
        <li><a href="#group">{f.aboutUs}</a></li>
        <li><a href="#group">{f.theGroup}</a></li>
        <li><a href="#news">{f.newsroom}</a></li>
        <li><a href="#trading">{f.careers}</a></li>
      </ul>
    </div>
    <div>
      <h4>{f.whatWeDo}</h4>
      <ul>
        <li><a href="#trading">{n.trading}</a></li>
        <li><a href="#trading">{n.supply}</a></li>
        <li><a href="#trading">{n.services}</a></li>
        <li><a href="#contact">{n.cta}</a></li>
      </ul>
    </div>
    <div>
      <h4>{f.offices}</h4>
      <address>{f.munichHQ}<br />{f.warsaw}<br />{f.london}</address>
    </div>
  </div>
  <div class="ft-bottom">
    <span>{f.rights}</span>
    <span class="disclaimer">{f.disclaimer}</span>
  </div>
</footer>
